<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <% if flash[:pw_error] %>
    <%= flash[:pw_error] %>
  <% end %>
  <h1>Please sign up</h1>

  <form action='/users' method='post'>
    <label for='email'>
      Email: <input name='email' type='text'>
    </label>
    <label for='password'>
      Password: <input name='password' type='password'>
    </label>
    <label for ='password_confirmation'>
      Password Confirmation <input name='password_confirmation' type='password'>
    </label>
    <input type='submit' value='Sign up'>
  </form>
</body>
</html>
