!<!DOCTYPE html>
<html>
<body>
  <h1> Add new link </h1>
    <form action="/links" method="post">
      <label for="url">
        url
        <input type="text" name="url">
      </label>
      <label for="title">
        title
        <input type="text" name="title">
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
